@charset "UTF-8";

@media screen and (min-width: 768px) {
   body, header {
    margin: auto;
   }
    div.fotoarthur {
    background-image: url(../Foto-arthur/arthur-portrait.jpg);
    background-size: contain;
    width: 800px;
   }

   section.efeito {
    margin-top: 80px;
    margin-right: 100px;
    height: 350px; 
   }

   section.fundoarthur {
    width: 27vw;
   }

   div.logo2 {
    display: flex;
    justify-content: flex-end;
   }


   section.fundocadeira {
    margin-top: 50px;
   }
}

section.fundocadeira > article {
    max-width: 400px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    section.efeito {
        animation-duration: 0s;
        margin-right: 50px;
    }

    div.fotoarthur {
        background-image: url(../Foto-arthur/arthur-portrait.jpg);
    }
    
}

@media screen and (min-width: 1200px) {
    header {
        top: 0;
        width: 100vw;
        position: fixed;
    }

    header.rolagem {
        background-color: #858666;
    }

    header.rolagem nav a {
        color: white;
    }

    header.rolagem nav a:hover {
        background-color: black;
    }


    section.efeito {
        margin-top: 450px;
        width: 300px;
        height: 350px;

}

body, html {
    width: 100vw;
    margin: auto;
    background-image: url(../Foto-arthur/arthur2-landscape.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

div.fotoarthur {
    background-image: url(../Foto-arthur/arthur2-landscape.jpg);
    justify-content: space-between;
    background-size: cover;
    width: 100vw;
    height: 100vh;


}

section.fundoarthur {
    box-shadow: none;
}

div.logo {
    display: flex;
    background-image: url(../Logos/nome-logo-nocrp.png);
    width: 200px;
    height: 85px;
    margin: 10px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: center;
}

section.apresentacao {
    margin-top: 230px;
    color: white;
    padding: 10px;
    background-color: #545441;;
    margin-left: 70px;
    width: 300px;
    height: 370px;
    border-radius: 15px;
}

div.logocadeira {
    background-color: #545441;
    background-image: url(../Logos/icone.ico);
    background-size: cover;
    margin: 50px;
    margin-top: 300px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

section.fundocadeira {
    margin-top: 350px;
    background-attachment: fixed;
}
}