@charset "UTF-8";

@media screen and (min-width: 736px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    a.logo {
        color: white;
        text-decoration: none;
    }

    header {
        flex-flow: row nowrap;
        justify-content: space-between;
        top: 0;
        width: 100vw;
        height: 100px;
        background-image: url(../Logos/Capa-Linkedin-limpa.jpg);
        background-position: center center;
        position: fixed;
    }

    nav {
        margin-right: 50px;
    }

    nav a {
        font-size: 1em;
    }

   /* header.rolagem {
        background-color: #858666;
        transition: 0.3s;
    }

    header.rolagem nav a {
        color: white;
    }

    header.rolagem nav a:hover {
        background-color: black;
    } */


    section.efeito {
        margin-top: 50px;
        margin-left: 100px;
        width: 400px;
        height: 270px;

}

body, html {
    width: 100vw;
    margin: auto;
    height: 2280px;
}

div.inicio {
    width: 100vw;
    display: flex;
}

div.inicio > section {
    margin-right: 20px;
}

div.fotoarthur {
    background-color: aqua;
    background-size: cover;
    width: 700px;
    height: 1000px;


}

section.fundoarthur {
    box-shadow: none;
}

div.logo {
    display: flex;
    background-image: url(../Logos/nome-logo-nocrp.png);
    width: 200px;
    height: 85px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: center;
}

div.fundoinicio {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 350px;
    height: 900px;

}

section.apresentacao {
    margin-top: 150px;
    color: white;
    padding: 10px;
    background-color: #545441;;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    animation-name: slide-in2;
    animation-duration: 1.3s;
}

@keyframes slide-in2 {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

div.logocadeira {
    background-color: #545441;
    background-image: url(../Logos/icone.ico);
    background-size: cover;
    margin-top: 950px;
    margin-right: 70px;
    padding-right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.textfeed {
    text-align: center;
    margin-top: 180px;
}

section.fundocadeira {
    flex-flow: row;
    margin-top: 50px;
    background-attachment: fixed;
    height: 500px;

}
section.fundocadeira > article {
    margin: 15px;
    box-shadow: 12px 2px 20px rgba(0, 0, 0, 0.449);
    height: 200px;
}

section.fundocadeira > article.feed1 {
    animation-name: slide-infeed;
    animation-duration: 1s
}
@keyframes slide-infeed {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

section.fundocadeira > article.feed2 {
    animation-name: slide-infeed2;
    animation-duration: 1.2s
}
@keyframes slide-infeed2 {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

section.fundocadeira > article.feed3 {
    animation-name: slide-infeed3;
    animation-duration: 1.4s
}
@keyframes slide-infeed3 {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

section.encerrar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 550px;
    width: 100vw;
}

h1.loc {
    display: none;
}

div.cell {
    margin-top: 50px;
    margin-left: 100px;
    background-image: url(../Logos/smartphone-cutout-file-png.png);
    width: 250px;
    height: 430px;
    background-repeat: no-repeat;
    background-size: contain;
}

iframe#mapa {
    border-radius: 30px;
    position: relative;
    top: 16px;
    left: 10px;
    height: 398px;
    width: 190px;
}

div.contato {
    margin-left: 100px;
    border-radius: 15px;
    color: black;
    padding: 10px;
    height: 260px;
    width: 450px;
    
}
.contato > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.contato > h2 {
    margin-left: 15px;
}

div.whatsapp {
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    display: flex;
    padding: 10px ;
    height: 70px;
    width: 350px;
}



section.textowpp h3 {
    text-align: center;
}

section.iconwpp {
    background-image: url(../Logos/Sem\ título.png);
    width: 40px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

div.instagram {
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    display: flex;
    padding: 10px ;
    height: 54px;
    width: 350px;
}

section.iconig {
    background-image: url(../Logos/instragram2.png);
    width: 40px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

section.textoig {
    color: white;
}

section.textoig h3 {
    text-align: center;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #545441;
    width: 100vw;
    height: 100px;
    margin-top: 30px;
}

div.logofinal {
    background-image: url(../Logos/nome-logo-nocrp.png);
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
}


div.criador {
    width: 282px;
    height: 30px;
    color: white;
    font-family: "agrandir" ,'Times New Roman', Times, serif;
}

div.criador a {
    color: white;
    text-decoration: none;
}

div.criador a:hover {
    text-decoration: underline;
}

}

@media screen and (min-width: 910px) and (max-width: 1200px) {
iframe#mapa {
    top: 9px;
    left: 30px;
    height: 415px;
}
}

@media screen and (min-width: 1200px) {
    iframe#mapa {
        top: 7px;
        left: 28px;
        height: 415px;
    }
}

@media screen and (min-width: 1300px) {
    div.cell {
        margin-top: 50px;
        margin-left: 80px;
        width: 650px;
        height: 550px;
        background-image: url(../Logos/telefone-mapa-3.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h1.loc {
        display: none;
    }
    
    iframe#mapa {
        border-radius: 30px;
        position: relative;
        top: 48px;
        left: 344px;
        height: 450px;
        width: 206px;
    }
}
@media screen and (min-width: 1500px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    a.logo {
        color: white;
        text-decoration: none;
    }

    header {
        flex-flow: row nowrap;
        justify-content: space-between;
        top: 0;
        width: 100vw;
        background-image: url(../Logos/Capa-Linkedin-limpa.jpg);
        background-position: center center;
        position: fixed;
        height: 100px;
    }

    nav {
        margin-right: 50px;
    }


    /*header.rolagem {
        background-color: #858666;
        transition: 0.3s;
    }

    header.rolagem nav a {
        color: white;
    }

    header.rolagem nav a:hover {
        background-color: black;
    } */


    section.efeito {
        margin-top: 50px;
        margin-left: 100px;
        width: 400px;
        height: 270px;
        animation-name: slide-in2;
        animation-duration: 1.5s;

}

body, html {
    width: 100vw;
    margin: auto;
    height: 2000px;
}

div.inicio {
    width: 100vw;
    display: flex;
}

div.inicio > section {
    margin-right: 20px;
}

div.fotoarthur {
    background-color: aqua;
    background-size: cover;
    width: 700px;
    height: 1000px;


}

section.fundoarthur {
    box-shadow: none;
}

div.logo {
    display: flex;
    background-image: url(../Logos/nome-logo-nocrp.png);
    width: 200px;
    height: 85px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: center;
}

div.fundoinicio {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 900px;
    height: 900px;

}

section.apresentacao {
    margin-top: 330px;
    color: white;
    padding: 10px;
    background-color: #545441;
    margin-left: 350px;
    margin-right: 15px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    animation-name: slide-in2;
    animation-duration: 1.3s;
}

@keyframes slide-in2 {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

div.logocadeira {
    background-color: #545441;
    background-image: url(../Logos/icone.ico);
    background-size: cover;
    margin-top: 850px;
    margin-right: 150px;
    padding-right: 70px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.textfeed {
    margin-top: 200px;
    text-align: center;
}

section.fundocadeira {
    flex-flow: row;
    margin-top: 50px;
    background-attachment: fixed;
    height: 500px;

}
section.fundocadeira > article {
    margin: 15px;
    box-shadow: 12px 2px 20px rgba(0, 0, 0, 0.449);
    width: 400px;
}

section.fundocadeira > article.feed1 {
    animation-name: slide-infeed;
    animation-duration: 1s
}
@keyframes slide-infeed {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

section.fundocadeira > article.feed2 {
    animation-name: slide-infeed2;
    animation-duration: 1.2s
}
@keyframes slide-infeed2 {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

section.fundocadeira > article.feed3 {
    animation-name: slide-infeed3;
    animation-duration: 1.4s
}
@keyframes slide-infeed3 {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

section.encerrar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 550px;
    width: 100vw;
}

div.cell {
    margin-top: 50px;
    margin-left: 80px;
    width: 650px;
    height: 550px;
    background-image: url(../Logos/telefone-mapa-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1.loc {
    display: none;
}

iframe#mapa {
    border-radius: 30px;
    position: relative;
    top: 48px;
    left: 344px;
    height: 450px;
    width: 206px;
}

div.contato {
    border-radius: 15px;
    color: black;
    padding: 10px;
    height: 260px;
    width: 450px;
    margin-right: 200px;
    
}
.contato > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.contato > h2 {
    margin-left: 15px;
}

div.whatsapp {
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    display: flex;
    padding: 10px ;
    height: 70px;
    width: 350px;
}



section.textowpp h3 {
    text-align: center;
}

section.iconwpp {
    background-image: url(../Logos/Sem\ título.png);
    width: 40px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

div.instagram {
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    display: flex;
    padding: 10px ;
    height: 54px;
    width: 350px;
}

section.iconig {
    background-image: url(../Logos/instragram2.png);
    width: 40px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

section.textoig {
    color: white;
}

section.textoig h3 {
    text-align: center;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #545441;
    margin-top: 20px;
    width: 100vw;
    height: 100px;
}

div.logofinal {
    background-image: url(../Logos/nome-logo-nocrp.png);
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
}


div.criador {
    width: 268px;
    height: 30px;
    color: white;
    font-family: "agrandir" ,'Times New Roman', Times, serif;
}

div.criador a {
    color: white;
    text-decoration: none;
}

div.criador a:hover {
    text-decoration: underline;
}

}

