@charset "UTF-8";

@media screen and (min-width: 768px) {
   body, header {
    margin: auto;
   }
    div.fotoarthur {
    background-image: url(../Foto-arthur/arthur-portrait.jpg);
    background-size: contain;
    width: 800px;
   }

   section.efeito {
    margin-top: 80px;
    margin-right: 100px;
    height: 350px; 
   }

   section.fundoarthur {
    width: 27vw;
   }

   div.logo2 {
    display: flex;
    justify-content: flex-end;
   }


   section.fundocadeira {
    margin-top: 50px;
   }
}

section.fundocadeira > article {
    max-width: 400px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    section.efeito {
        animation-duration: 0s;
        margin-right: 50px;
    }

    div.fotoarthur {
        background-image: url(../Foto-arthur/arthur-portrait.jpg);
    }
    
}

@media screen and (min-width: 1200px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    a.logo {
        color: white;
        text-decoration: none;
    }

    header {
        top: 0;
        width: 100vw;
        position: fixed;
    }

    header.rolagem {
        background-color: #858666;
        transition: 0.3s;
    }

    header.rolagem nav a {
        color: white;
    }

    header.rolagem nav a:hover {
        background-color: black;
    }


    section.efeito {
        margin-top: 450px;
        width: 300px;
        height: 350px;

}

body, html {
    width: 100vw;
    margin: auto;
    height: 2500px;
    background-image: url(../Foto-arthur/arthur2-landscape.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

div.fotoarthur {
    background-image: url(../Foto-arthur/arthur2-landscape.jpg);
    justify-content: space-between;
    background-size: cover;
    width: 100vw;
    height: 100vh;


}

section.fundoarthur {
    box-shadow: none;
}

div.logo {
    display: flex;
    background-image: url(../Logos/nome-logo-nocrp.png);
    width: 200px;
    height: 85px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: center;
}

section.apresentacao {
    margin-top: 230px;
    color: white;
    padding: 10px;
    background-color: #545441;;
    margin-left: 70px;
    width: 300px;
    height: 370px;
    border-radius: 15px;
    animation-name: slide-in2;
    animation-duration: 1.5s;
}

@keyframes slide-in2 {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

div.logocadeira {
    background-color: #545441;
    background-image: url(../Logos/icone.ico);
    background-size: cover;
    margin: 50px;
    margin-top: 250px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.textfeed {
    margin-top: 150px;
    text-align: center;
}

section.fundocadeira {
    margin-top: 50px;
    background-attachment: fixed;
    height: 500px;

}
section.fundocadeira > article {
    margin: 15px;
    box-shadow: 12px 2px 20px rgba(0, 0, 0, 0.449);
}

section.fundocadeira > article.feed1 {
    animation-name: slide-infeed;
    animation-duration: 1s
}
@keyframes slide-infeed {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

section.fundocadeira > article.feed2 {
    animation-name: slide-infeed2;
    animation-duration: 1.2s
}
@keyframes slide-infeed2 {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

section.fundocadeira > article.feed3 {
    animation-name: slide-infeed3;
    animation-duration: 1.4s
}
@keyframes slide-infeed3 {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 1;
      scale: 100% 1;
    } 
}

section.encerrar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 550px;
    width: 100vw;
}

div.cell {
    margin-top: 10px;
    margin-left: 80px;
    width: 550px;
    height: 550px;
    background-image: url(../Logos/smartphone-cutout-file-png.png);
    background-repeat: no-repeat;
    background-size: cover;
}

iframe#mapa {
    border-radius: 30px;
    position: relative;
    top: 42px;
    left: 284px;
    height: 468px;
    width: 216px;
}

div.contato {
    border-radius: 15px;
    color: black;
    padding: 10px;
    height: 260px;
    width: 450px;
    margin-right: 200px;
    
}
.contato > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.contato > h2 {
    margin-left: 15px;
}

div.whatsapp {
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    display: flex;
    padding: 10px ;
    height: 70px;
    width: 350px;
}



section.textowpp h3 {
    text-align: center;
}

section.iconwpp {
    background-image: url(../Logos/Sem\ título.png);
    width: 40px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

div.instagram {
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    display: flex;
    padding: 10px ;
    height: 54px;
    width: 350px;
}

section.iconig {
    background-image: url(../Logos/instragram2.png);
    width: 40px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

section.textoig {
    color: white;
}

section.textoig h3 {
    text-align: center;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #545441;
    width: 100vw;
    height: 100px;
}

div.logofinal {
    background-image: url(../Logos/nome-logo-nocrp.png);
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
}


div.criador {
    width: 282px;
    height: 30px;
    color: white;
    font-family: "agrandir" ,'Times New Roman', Times, serif;
}

div.criador a {
    color: white;
    text-decoration: none;
}

div.criador a:hover {
    text-decoration: underline;
}

}

